:root{

    --white: #fff;
    --black: #0b090a;
    --dark-black: #0b090a;
    --light-black: #111011;
    --gray-body: #eee;
    --gray-dark: rgb(185, 184, 184);
    --purple-blue: #3d5a80;
    --purple-light: #4a76b1;
    --purple-body: #bfcddf;
    --red-light: #c9184a;
    --red-dark: #a4133c;
    --green-light: #2a9d8f;
  
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: var(--purple-body);
    -webkit-font-smoothing: antialiased;
    color: var(--black);
  }
  
  body, input, textarea, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }