.containerTask {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerCreateTask{
    width: 100%;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputTask{
    padding: 1rem;
    width: 39rem;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--gray-dark);
    background: var(--gray-body);
}

.buttonCreateTask{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;
    color: var(--white);
    border-radius: 8px;
    border: none;
    background: var(--red-light);
    transition: background-color .2s ease-in-out;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.buttonCreateTask:hover{
    background: var(--red-dark);
}

.tasks {
    width: 100%;
}